################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DunmmyBackend/.vs/DunmmyBackend
/DunmmyBackend/DunmmyBackend/obj
/DunmmyBackend/DunmmyBackend/bin/Debug/net5.0
