@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="col-3">
        Filter
    </div>
    <div class="col-5">
        Map
    </div>
    <div class="col-4">
        Detail
    </div>
</div>
