@page 
@model DetailModel
@{
    ViewData["Title"] = "Chci Recyklovat | Plast";
}

<div class="alert alert-danger position-fixed" style="bottom: 0.5rem; right: 1rem;">
    TODO: Nic
</div>

<section class="py-5">
    <header class="text-center mb-4">
        <h1>Plast</h1>
        <hr class="custom">
    </header>
</section>
