@page
@model DetailModel
@{
ViewData["Title"] = "Chci Recyklovat | Plast";
}

<div class="alert alert-danger position-fixed" style="bottom: 0.5rem; right: 1rem;">
    TODO: Nic
</div>

<div class="py-4 bg-white">
    <div class="container">
        <header class="py-5">
            <h1 class="text-center">Plast</h2>
            <hr class="custom">
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas sollicitudin. Vestibulum erat nulla,
                ullamcorper nec, rutrum non, nonummy ac, erat. Nullam eget nisl. Curabitur sagittis hendrerit ante.
                Etiam dictum tincidunt diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos hymenaeos. Aenean vel massa quis mauris vehicula lacinia. Sed ac dolor sit amet purus malesuada
                congue. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus
                odio a lectus. Mauris dictum facilisis augue. Maecenas aliquet accumsan leo. Cras pede libero, dapibus
                nec, pretium sit amet, tempor quis.
            </p>
        </header>

        <section class="py-5">
            <div class="text-center">
                <h2 class="mb-4">Co patří do plastového odpadu?</h2>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <img class="mb-3 rounded-circle" src="https://via.placeholder.com/120" alt="" height="120">
                        <h5 class="mb-0">PET Obaly</h5>
                        <p class="my-4 text-muted">Mauris dictum facilisis augue. Maecenas aliquet accumsan leo. Cras
                            pede libero, dapibus
                            nec, pretium sit amet, tempor quis.</p>
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="mb-3 rounded-circle" src="https://via.placeholder.com/120" alt="" height="120">
                        <h5 class="mb-0">Obaly od jogurtů</h5>
                        <p class="my-4 text-muted">Mauris dictum facilisis augue. Maecenas aliquet accumsan leo. Cras
                            pede libero, dapibus
                            nec, pretium sit amet, tempor quis.</p>
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="mb-3 rounded-circle" src="https://via.placeholder.com/120" alt="" height="120">
                        <h5 class="mb-0">Plastové věci</h5>
                        <p class="my-4 text-muted">Mauris dictum facilisis augue. Maecenas aliquet accumsan leo. Cras
                            pede libero, dapibus
                            nec, pretium sit amet, tempor quis.</p>
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="mb-3 rounded-circle" src="https://via.placeholder.com/120" alt="" height="120">
                        <h5 class="mb-0">PET Obaly</h5>
                        <p class="my-4 text-muted">Mauris dictum facilisis augue. Maecenas aliquet accumsan leo. Cras
                            pede libero, dapibus
                            nec, pretium sit amet, tempor quis.</p>
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="mb-3 rounded-circle" src="https://via.placeholder.com/120" alt="" height="120">
                        <h5 class="mb-0">Obaly od jogurtů</h5>
                        <p class="my-4 text-muted">Mauris dictum facilisis augue. Maecenas aliquet accumsan leo. Cras
                            pede libero, dapibus
                            nec, pretium sit amet, tempor quis.</p>
                    </div>
                    <div class="col-md-4 mb-4">
                        <img class="mb-3 rounded-circle" src="https://via.placeholder.com/120" alt="" height="120">
                        <h5 class="mb-0">Plastové věci</h5>
                        <p class="my-4 text-muted">Mauris dictum facilisis augue. Maecenas aliquet accumsan leo. Cras
                            pede libero, dapibus
                            nec, pretium sit amet, tempor quis.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="text-center">
                <h2>Kde recyklovat plast</h2>
                <img class="img-fluid my-4" src="https://via.placeholder.com/1500x500" alt="">
                <div class="row mt-4 text-left">
                    <div class="col-md-4">
                        <img class="img-fluid " src="https://via.placeholder.com/600x400" alt="">
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid " src="https://via.placeholder.com/600x400" alt="">
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid " src="https://via.placeholder.com/600x400" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="my-5 py-5 bg-light shadow-sm border rounded">
            <div class="container text-center">
              <h2>Chceš recyklovat plast?</h1>
              <p class="lead text-muted">Využij naší aplikaci a najdi si nejbližší místo, kde můžeš svůj odpad recyklovat</p>
              <a class="btn btn-primary btn-lg my-2" href="#">
                  Hledat místa pro recyklaci plastu na mapě
                    <i class="fas fa-map-marked-alt ml-2"></i>
              </a>
            </div>
          </section>
    </div>
</div>