@page
@model CategoriesModel
@{
    ViewData["Title"] = "Chci Recyklovat | Kategorie";
}

<div class="alert alert-danger position-fixed" style="bottom: 0.5rem; right: 1rem;">
    TODO: Filter Kategorii, rozradeni 
</div>

<section class="py-4">
    <div class="container">
        <header class="text-center mb-4">
            <div>
                <h1>Informace o druzích odpadu </h1>
                <hr class="custom">
            </div>
        </header>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-4 mb-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="https://via.placeholder.com/375x250" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Card title</h5>
                                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                        <p class="card-text">Some quick example text to build on the card title and make up
                                            the bulk of the card's content.</p>
                                        <a asp-page="Detail" class="card-link btn btn-primary">
                                            Více informací
                                            <i class="fas fa-angle-double-right ml-2"></i>
                                        </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="https://via.placeholder.com/375x250" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Card title</h5>
                                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                        <p class="card-text">Some quick example text to build on the card title and make up
                                            the bulk of the card's content.</p>
                                        <a asp-page="Detail" class="card-link btn btn-primary">
                                            Více informací
                                            <i class="fas fa-angle-double-right ml-2"></i>
                                        </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="https://via.placeholder.com/375x250" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Card title</h5>
                                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                        <p class="card-text">Some quick example text to build on the card title and make up
                                            the bulk of the card's content.</p>
                                        <a asp-page="Detail" class="card-link btn btn-primary">
                                            Více informací
                                            <i class="fas fa-angle-double-right ml-2"></i>
                                        </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="https://via.placeholder.com/375x250" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Card title</h5>
                                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                        <p class="card-text">Some quick example text to build on the card title and make up
                                            the bulk of the card's content.</p>
                                        <a asp-page="Detail" class="card-link btn btn-primary">
                                            Více informací
                                            <i class="fas fa-angle-double-right ml-2"></i>
                                        </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="https://via.placeholder.com/375x250" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Card title</h5>
                                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                        <p class="card-text">Some quick example text to build on the card title and make up
                                            the bulk of the card's content.</p>
                                        <a asp-page="Detail" class="card-link btn btn-primary">
                                            Více informací
                                            <i class="fas fa-angle-double-right ml-2"></i>
                                        </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="https://via.placeholder.com/375x250" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Card title</h5>
                                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                        <p class="card-text">Some quick example text to build on the card title and make up
                                            the bulk of the card's content.</p>
                                        <a asp-page="Detail" class="card-link btn btn-primary">
                                            Více informací
                                            <i class="fas fa-angle-double-right ml-2"></i>
                                        </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="https://via.placeholder.com/375x250" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Card title</h5>
                                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                        <p class="card-text">Some quick example text to build on the card title and make up
                                            the bulk of the card's content.</p>
                                        <a asp-page="Detail" class="card-link btn btn-primary">
                                            Více informací
                                            <i class="fas fa-angle-double-right ml-2"></i>
                                        </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="https://via.placeholder.com/375x250" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Card title</h5>
                                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                        <p class="card-text">Some quick example text to build on the card title and make up
                                            the bulk of the card's content.</p>
                                        <a asp-page="Detail" class="card-link btn btn-primary">
                                            Více informací
                                            <i class="fas fa-angle-double-right ml-2"></i>
                                        </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="https://via.placeholder.com/375x250" alt="Card image cap">
                            <div class="card-body">
                                <h3 class="card-title">Card title</h5>
                                    <h4 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                        <p class="card-text">Some quick example text to build on the card title and make up
                                            the bulk of the card's content.</p>
                                        <a asp-page="Detail" class="card-link btn btn-primary">
                                            Více informací
                                            <i class="fas fa-angle-double-right ml-2"></i>
                                        </a>
                            </div>
                        </div>
                    </div>  
    
                </div>
            </div>
        </div>
    </div>

</section>