@page
@model IndexModel
@{
    ViewData["Title"] = "Kontaktujte nas";
}

<div class="alert alert-danger position-fixed" style="bottom: 0.5rem; right: 1rem;">
    TODO: Kontakt Form sending emails
</div>

<partial name="_ContactForm" />
