<section class="py-5 bg-light">
    <div class="container">
        <header class=" text-center mb-4">
            <h2>Kontaktujte nas</h2>
        </header>

        <div class="mt-4 py-4 px-5 bg-white shadow-sm rounded border">
            <h2 class="mb-5 text-center">Nenašli jste odpověd na vaši otázku?</h2>
            <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                    <h3 class="mb-4">Kontakujte nás a rádi vaši otázku zodpovíme</h3>
                    <div>
                        <div class="d-flex">
                            <p class=""><i class="fas fa-envelope mr-3"></i> <a
                                    href="mailto:info@chcirecyklovat.cz">info@chcirecyklovat.cz </a> </p>
                        </div>
                        <hr class="mb-2 mt-0">
                        <div class="d-flex">
                            <p class="">
                                <i class="fas fa-phone mr-3"></i>
                                <a href="tel:+420 111 222 333">+420 111 222 333</a></p>
                        </div>
                        <hr class="mb-2 mt-0">
                    </div>
                </div>
                <div class="col-md-6">
                    <form>
                        <label class="sr-only" for="input-contacts-01">Váš Email</label>
                        <input class="form-control mb-3" id="input-contacts-01" type="email" placeholder="Email">
                        <label class="sr-only" for="textarea-contacts-01">Váš dotaz ...</label>
                        <textarea class="form-control mb-3" id="textarea-contacts-01" rows="5"
                            placeholder="Write something..."></textarea>
                        <button class="btn btn-primary btn-block" type="submit">
                            Odeslat
                            <i class="fas fa-paper-plane ml-2"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>